@model IEnumerable<DAL.Entities.Book>
@using DAL.Entities;

@{
    ViewBag.Title = "Cauta";
    var searchTerm = (string)ViewData["searchTerm"];
    var authors = (List<Author>)ViewData["authors"];
    var domains = (List<BookDomain>)ViewData["domains"];
}

<div class="BooksResultMain">
    @if (@Model.Count() > 0)
    {
        <h3>Cărți găsite pentru "<strong>@searchTerm</strong>"</h3>
        <div class="BooksResultsAll">
            @foreach (var item in Model)
            {
                <div class="SearchresultBox">
                    <a href="~/Carti/Detalii/@item.Id">
                        <h3>@item.Title</h3>
                        <h4>@item.Authors[0].Name</h4>
                        <h5>@item.Publisher.Name</h5>
                        <h5>@item.PublishYear</h5>
                    </a>
                </div>
            }
        </div>

    }
    else
    {
        <div>Căutarea nu a returnat nici o carte pentu <strong>@searchTerm</strong></div>
    }

    @if (authors != null && authors.Count() > 0)
    {
        <h3>Autori găsiți pentru "<strong>@searchTerm</strong>"</h3>
        <div class="BooksResultsAll">
            @foreach (var item in authors)
            {
                <div class="SearchresultBox">
                    <a href="~/Autor/Detalii/@item.Id">
                        <h3>
                            @item.Name
                        </h3>
                    </a>
                </div>
            }
        </div>
    }

    @if (domains != null && domains.Count() > 0)
    {
        <h3>Domenii găsite pentru "<strong>@searchTerm</strong>"</h3>
        <div class="BooksResultsAll">
            @foreach (var item in domains)
            {
                <div class="SearchresultBox">
                    <a href="~/Domenii/Detalii/@item.Id">
                        <h4>
                            @item.Name
                        </h4>
                    </a>
                </div>
            }
        </div>
    }

</div>
