@model IEnumerable<DAL.Entities.Book>
@using DAL.Entities;

@{
    ViewBag.Title = "Cauta";
    var searchTerm = (string)ViewData["searchTerm"];
    var authors = (List<Author>)ViewData["authors"];
    var domains = (List<BookDomain>)ViewData["domains"];
}


<br />
<h3>Rezultate pentru "<strong>@searchTerm</strong>"</h3>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Cărți</h3>
    </div>
</div>

@if (@Model.Count() > 0)
{
    <div class="BooksResultsAll">
        @foreach (var item in Model)
        {
            <div class="SearchresultBox">
                <a href="~/Carti/Detalii/@item.Id">
                    <h3>@item.Title</h3>
                    <h4>@item.Authors[0].Name</h4>
                    <h5>@item.Publisher.Name</h5>
                    <h5>@item.PublishYear</h5>
                </a>
            </div>
        }
    </div>
}
else
{
    <div>Căutarea nu a returnat nici o carte pentu <strong>@searchTerm</strong></div>
}
<br />
<br />

@if (authors != null && authors.Count() > 0)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Autori</h3>
        </div>
    </div>
    <div class="BooksResultsAll">
        @foreach (var item in authors)
        {
            <div class="SearchresultBox">
                <a href="~/Autori/Detalii/@item.Id">
                    <h3>
                        @item.Name
                    </h3>
                </a>
            </div>
        }
    </div>
    <br />
    <br />
}

@if (domains != null && domains.Count() > 0)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Domenii</h3>
        </div>
    </div>
    <div class="BooksResultsAll">
        @foreach (var item in domains)
        {
            <div class="SearchresultBox">
                <a href="~/Domenii/Detalii/@item.Id">
                    <h4>
                        @item.Name
                    </h4>
                </a>
            </div>
        }
    </div>
    <br />
    <br />
}

