@model DAL.Entities.Book
@using DAL.Entities;

@{
    ViewBag.Title = "Detalii";
    var BookStatusClass = "BookStatus" + (int)Model.BookStatus;
    var href = "/Cont/LogarePartiala";

    if (Session["userId"] != null)
    {
        href = "/Carti/RezervaPartial";
    }

}


<div class="container">
    <h2>@Model.Title</h2>
    <div>
        Starea cărții:
        <span class=@BookStatusClass> @Model.BookStatus </span>
        @if (Model.BookStatus == LoanReservedBookStatus.Rezervată)
        {
            @:- până la @Model.ReservedUntil
        }
    </div>

    @if (Model.BookStatus == LoanReservedBookStatus.Disponibilă)
    {
        <div class="BookDetailsBookaBook">
            <input type="button" href=@href class="btn btn-primary" onclick="openBookDetailsPopup('@href', @Model.Id)" value="Rezervă cartea" />
        </div>
    }

    <hr />
    @if (Model.Authors.Count > 1)
    {
        <h3>Autori:</h3>

    }
    else
    {
        <h3>Autor:</h3>
    }

    @foreach (var item in Model.Authors)
    {
        <h4>@item.Name</h4>
    }

    <h3>Detalii:</h3>
    <div>Editura: <strong> @Model.Publisher.Name</strong></div>
    <div>An apariție: <strong> @Model.PublishYear</strong> </div>
    <div>Număr pagini: <strong> @Model.NrPages</strong> </div>
    <div>Limba: <strong> @Model.BookLanguage</strong> </div>
    <div>Volum: <strong> @Model.Volume</strong> </div>
    <div>
        ISBN:
        @if (Model.ISBNs.Count > 0)
        {
            foreach (var isbn in @Model.ISBNs)
            {
                <strong> @isbn.Value </strong>
            }
        }
        else
        {
            <strong> necunoscut </strong>
        }
    </div>
    <div>Domeniu: <strong> @Model.BookDomain.Name</strong> </div>
</div>
<br />
<p>
    @Html.ActionLink("Înapoi la toate cărțile", "Index")
</p>

@section ScriptsCartiDetalii{
    @Scripts.Render("~/bundles/CartiDetalii")
}
