<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Biblioteca Tășnad</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--font-family: 'Metrophobic', sans-serif;-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600italic,600,700italic,700' rel='stylesheet' type='text/css'>
    <!--font-family: 'Open Sans', sans-serif; -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,500,300italic,300,100,500italic' rel='stylesheet' type='text/css'>
    <!--font-family: 'Roboto', sans-serif; -->

</head>
<body>

    <!--wrapper start-->
    <div class="wrapper" id="wrapper">
        <!-- Preloader -->
        <div id="preloader">
            <div id="status"></div>
        </div>
        <!--Header start -->
        <header>
            <!--Language start -->
            <div class="container">
                <div class="row relative">
                    <ul class="language">
                        <li>
                            <a href="#" data-toggle="dropdown">Română</a><i class="fa fa-caret-down"></i>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" class="english">English</a></li>
                                <li><a href="#" class="hungarian">Hungarian</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/Language end -->
            <!--menu start-->
            <div class="menu">
                <div class="navbar-wrapper">
                    <div class="container">
                        <!-- Navbar start -->
                        <div class="navwrapper">
                            <div class="navbar navbar-inverse navbar-static-top">
                                <div class="container">
                                    <div class="logo">
                                        <a href="/Home" ><span class="img-circle">b</span>iblioteca Tășnad</a><span rel="tooltip" title="platformă aflată sub teste"> BETA </span><br />
                                        <span id="subLogo" rel="tooltip" title="[biblioSofia]- program de gestionare online a bibliotecilor">un produs biblioSofia </span>
                                    </div>
                                    <nav class="navArea">
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                        </div>
                                        <div class="navbar-collapse collapse">
                                            <ul class="nav navbar-nav" id="navigation">
                                                <li>@Html.ActionLink("Acasă", "Index", "Home", null, null)</li>
                                                <li>@Html.ActionLink("Domenii", "Index", "Carti", null, null)</li>
                                                <li>@Html.ActionLink("Autori", "Index", "Autori", null, null)</li>
                                                <li>@Html.ActionLink("Edituri", "Index", "Edituri", null, null)</li>
                                                <li>@Html.ActionLink("Contact", "Contact", "Home", null, null)</li>
                                                @if (Session["userId"] != null && Session["userId"] != "0")
                                                {
                                                    <li class="">
                                                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                            @Session["userFirstName"] @Session["userLastName"]
                                                            <span class=" fa fa-angle-down"></span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                                                            <li><a href="~/Cont/Setări"><i class="fa fa-info pull-right"></i>Setări cont</a></li>
                                                            <li><a href="~/Cont/Împrumuturi">Împrumuturile mele</a></li>
                                                            <li><a href="~/Cont/Delogare"><i class="fa fa-sign-out pull-right"></i>Delogare</a></li>
                                                        </ul>
                                                    </li>                                                
                                                }
                                                else
                                                {
                                                    <li>@Html.ActionLink("Intră în cont", "Logare", "Cont", null, null)</li>
                                                }
                                            </ul>
                                        </div>

                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Navbar end -->
                    </div>
                </div>
            </div>
            <!-- start Search Div -->
            <div class="row searchMain">
                <div class="col-md-5 col-md-offset-3 col-xs-12">

                    <div id="exTab2" class="container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#aSearch" data-toggle="tab">Căutare simplă</a>
                            </li>
                            <li>
                                <a href="#bSearch" data-toggle="tab">Căutare multicâmp</a>
                            </li>
                        </ul>

                        <div class="tab-content ">
                            <div class="tab-pane active" id="aSearch">
                                @using (Html.BeginForm("SimpleSearch", "Carti", FormMethod.Get))
                                {
                                    <div class="form-group">
                                        <div class="col-md-11 col-sm-11 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Caută..." autocomplete="off" name="simpleSearchText" id="simpleSearchText">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="submit">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div id="simpleSearchSuggestions" class="col-md-11 col-sm-11 col-xs-12">
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="tab-pane" id="bSearch">
                                @using (Html.BeginForm("MultifieldSearch", "Carti", FormMethod.Get))
                                {
                                    <div class="form-group">
                                        <div class="col-md-11 col-sm-11 col-xs-12 form-group">
                                            <div class="col-md-2 col-sm-2 col-xs-2 form-group">
                                                Titlul:
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group">
                                                <input type="text" class="form-control" placeholder="Caută..." autocomplete="off" name="multiFieldTitle" id="simpleSearchText" required="required">
                                            </div>
                                        </div>
                                        <div class="col-md-11 col-sm-11 col-xs-12 form-group">
                                            <div class="col-md-2 col-sm-2 col-xs-2 form-group">
                                                Autor:
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group">
                                                @Html.DropDownList("multiFieldAuthors", (List<SelectListItem>)ViewBag.MainSearchAuthors, new { @class = "select2_single", @id = "multiFieldAuthors" })
                                            </div>
                                        </div>
                                        <div class="col-md-11 col-sm-11 col-xs-12 form-group">
                                            <div class="col-md-2 col-sm-2 col-xs-2 form-group">
                                                Editura:
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group">
                                                @Html.DropDownList("multiFieldPublishers", (List<SelectListItem>)ViewBag.MainSearchPublishers, new { @class = "select2_single", @id = "multiFieldPublishers" })
                                            </div>
                                        </div>
                                        <div class="col-md-11 col-sm-11 col-xs-12 form-group">
                                            <div class="col-md-2 col-sm-2 col-xs-2 form-group">
                                                Domeniul:
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group">
                                                @Html.DropDownList("multiFieldDomains", (List<SelectListItem>)ViewBag.MainSearchDomains, new { @class = "select2_single", @id = "multiFieldDomains" })
                                            </div>
                                        </div>
                                        <div class="col-md-11 col-sm-11 col-xs-12 form-group">
                                            <button class="btn btn-primary" type="submit"> Caută </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end Search Div -->
            <!--menu end-->
        </header>
        <div class="container body-content">
            @RenderBody()
        </div>
        <!--Bottom Four Column start-->
        <section class="blue_section section_gap">
            <div class="container">
                <div class="row bottomfourcol">
                    <!-- Footer About us start-->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottomAbout">
                        <h5 class="heading">Despre noi</h5>
                        <p>Centralizăm cărțile din bibliotecă și le aducem la un click distanță de utilizatori</p>
                        <h5>Ne puteți găsi la</h5>
                        <div class="socialshare">
                            <a href="https://www.facebook.com/Reedro-172711693235768/" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/Reedro-172711693235768/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.facebook.com/Reedro-172711693235768/" target="_blank"><i class="fa fa-google"></i></a>
                            <a href="https://www.facebook.com/Reedro-172711693235768/" target="_blank"><i class="fa fa-vimeo-square"></i></a>
                            <a href="https://www.facebook.com/Reedro-172711693235768/" target="_blank"><i class="fa fa-dribbble"></i></a>
                            <a href="https://www.facebook.com/Reedro-172711693235768/" target="_blank"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <!-- Footer About us end-->
                    <!-- Footer Recent news start-->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <h5 class="heading">Știri recente</h5>
                        <ul class="footerLinks">
                            <li> <a href="#">Avem o pagină de facebook unde ne poți contacta</a> <span>by <a href="#">Adrian Nagy</a> on Martie 7, 2017</span> </li>
                            <li> <a href="#">Prima variantă a platformei a fost lansată</a> <span>by <a href="#">Adrian Nagy</a> on Februarie 20, 2017</span> </li>
                            <li> <a href="#">Începutul proiectului, adăugăm zilnic cărți în sistem</a> <span>by <a href="#">Adrian Nagy</a> on Februarie 12, 2017</span> </li>
                        </ul>
                    </div>
                    <!-- Footer Recent news end-->
                    <!-- Footer How it works start-->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <h5 class="heading">Cum funcționează?</h5>
                        <p>Ce trebuie să faci pentru a avea o experiență bună.</p>
                        <ul class="list">
                            <li>Înregistrează-te pe site</li>
                            <li>Caută cărțile dorite pe site</li>
                            <li>Verifică disponibilitatea lor </li>
                            <li>Rezervă cărțile dorite </li>
                            <li>Vino la bibliotecă și ridică-le</li>
                            <li>Returnează cărțile</li>
                        </ul>
                    </div>
                    <!-- Footer How it works end-->
                </div>
            </div>
        </section>
        <!--/Bottom Four Column end -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="pull-left">
                        <p>&copy; @DateTime.Now.Year biblioteca Tășnad. Toate drepturile rezervate</p>
                    </div>
                    <div class="pull-right"><a class="gototop smooth" href="#wrapper">Go To Top<i class="fa fa-chevron-up"></i></a></div>
                </div>
            </div>
        </footer>
        <!--Footer end -->
    </div>
    <!--wrapper end-->
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("ScriptsLogare", required: false)
    @RenderSection("ScriptsHomeIndex", required: false)

    <script type="text/javascript">

        $(document).ready(function () {
            $("#multiFieldAuthors").select2({
                placeholder: "--- Orice autor ---",
                allowClear: true
            });

            $("#multiFieldPublishers").select2({
                placeholder: "--- Orice Editură ---",
                allowClear: true
            });

            $("#multiFieldDomains").select2({
                placeholder: "--- Orice domeniu ---",
                allowClear: true
            });


        });

        $('#simpleSearchText').keyup(function (e) {
            var simpleSearchText = $('#simpleSearchText');
            getSimpleSearchResults(simpleSearchText);
        });

        function getSimpleSearchResults(simpleSearchText) {
            var simpleSearchTextValue = simpleSearchText.val();

            var simpleSearchSuggestions = $('#simpleSearchSuggestions');

            $.ajax({
                url: "/Common/AsyncGetSimpleSearchSuggestions",
                type: "GET",
                data: { searchTerm: (simpleSearchTextValue) }
            })
                 .done(function (partialViewResult) {
                     simpleSearchSuggestions.html(partialViewResult);
                 });
        }
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-63899600-5', 'auto');
        ga('send', 'pageview');

    </script>

    <script type="text/javascript">
        $(function () {
            $("[rel='tooltip']").tooltip({
                placement: "bottom"
            });
        });

    </script>
</body>

</html>
