@model Public.Models.MainPageModel


<!--Membership features start -->
<section class="white_section section_gap" id="features">
    <div class="container">
        <div class="heading">
            <h1><span>@Html.ActionLink("Devino membru", "Logare", "Cont", null, null, "signup", null, null)</span></h1>
            <p>
                Creează-ți cont pentru a avea acces la funcționalitățile platformei.<br>
                Cărțile bibliotecii Tășnad sunt înregistrate pe această platformă.
            </p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-unlock-alt"></i></span>
                    <h3>Acces la peste @Model.BookNumber de cărți</h3>
                    <p>Numărul cărților este în continuă creștere datorită adăugărilor în permanentă în sistem</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-search"></i></span>
                    <h3>Verificați dacă cartea dorită există în sistem</h3>
                    <p>Caută cartea dorită după titlu, autori, domeniu, ISBN și altele</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-book"></i></span>
                    <h3>Rezervați-vă cărți</h3>
                    <p>Alege și rezervă cărțile dorite iar noi le vom păstra pentru tine până la 3 zile</p>
                </div>
            </div>
        </div>
        <div class="row sec_top_gp">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-file-text-o"></i></span>
                    <h3>Devino voluntar!</h3>
                    <p>Ajută-ne să adăugăm cărți în sistem și vei apărea pe lista voluntarilor și vei primi și o adeverință de voluntar </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-eye"></i></span>
                    <h3>Nu știi numele complet al cărții? Nici o problemă</h3>
                    <p>Aplicația îți permite căutarea după litere sau cuvinte pe care le mai ții minte</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-comments"></i></span>
                    <h3>sugestii?</h3>
                    <p>Te rugăm @Html.ActionLink("contactează-ne", "Contact", "Home", null, null) dacă ai sugestii sau idei pentru a putea dezvolta și îmbunătăți platforma</p>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="heading">
            <h1><span>Ultimele 20 de cărți adăugate</span></h1>
            <div class="row sec_top_gp">

                <div class="imageSlide">
                    @foreach (var book in @Model.LastAddedBooks)
                    {
                        <div class="imageBox">
                            @Html.ActionLink(@book.Title, "Detalii", "Carti", new { id = @book.Id }, null)
                        </div>

                    }
                </div>
                <div class="footerTopContent" style="height: 140px;">
                    <ul class="slides testimonialText list-unstyled">
                        @foreach (var book in @Model.LastAddedBooks)
                        {
                            if (book.Authors.Count > 0)
                            {
                                <li style="opacity: 0;">
                                    de<h3 class="uppercase">@book.Authors[0].Name </h3>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            </div>
        
    </div>
</section>

<!--/Membership features end --> 

@section ScriptsHomeIndex{
    @Scripts.Render("~/bundles/HomeIndex")
}